<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="IpData" value='{
		 "10.0.0.30":"Server=10.0.0.30;Database=sb;Integrated Security=True;",
		 "10.0.0.161":"Server=10.0.0.161;Database=sb;Integrated Security=True;",
		 "10.0.0.58":"Server=10.0.0.58;Database=sb;Integrated Security=True;",
		 "10.0.0.60":"Server=10.0.0.60;Database=sb;Integrated Security=True;",
		 "10.0.0.161":"Server=10.0.0.161;Database=sb;Integrated Security=True;",
		 "10.0.0.162":"Server=Server=10.0.0.162;Database=sb;Integrated Security=True;"}'/>
	  <!-- SMTP 服务器地址 QQ邮箱：smtp.qq.com -->
	  <add key='smtpServer' value='smtp.qq.com'/>
	  <!-- SMTP 端口号 -->
	  <add key='smtpPort' value='587'/>
	  <!-- SMTP 用户名（通常是发件人邮箱地址） -->
	  <add key='smtpUser' value='137323412@qq.com'/>
	  <!-- SMTP 密码（通常是发件人邮箱的密码或应用专用密码） -->
	  <add key='smtpPassword' value='eqhjmqwfmwvubjaa'/>
	  <!-- 发件人邮箱地址 -->
	  <add key='fromEmail' value='137323412@qq.com'/>
	  <!-- 收件人邮箱地址 -->
	  <add key='toEmail' value='BigNangua@outlook.com'/>
  </appSettings>
</configuration>