<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="IpDatabaseConnections" value='{"192.168.1.1":"Server=192.168.1.1;Database=Db1;User Id=youruser;Password=yourpassword","192.168.1.2":"Server=192.168.1.2;Database=Db2;User Id=youruser;Password=yourpassword"}'/>
  </appSettings>
</configuration>